<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/Content/bootstrap.css" />
    <include path="~/Content/Site.css" />
    <include path="~/Content/full-slider.css" />
    <include path="~/Content/simple-sidebar.css" />
    <include path="~/Content/logo-nav.css" />
    <include path="~/Content/jquery-ui.min.css" />
    <include path="~/Content/jquery-ui.structure.min.css" />
    <include path="~/Content/jquery-ui.theme.min.css" />
    <include path="~/Content/default.css" />
    <include path="~/Content/bookblock.css" />
    <include path="~/Content/calendar.css" />
    <include path="~/Content/default.css" />
    <include path="~/Content/demo1.css" />
    <include path="~/Content/demo2.css" />
    <include path="~/Content/demo3.css" />
    <include path="~/Content/demo4.css" />
    <include path="~/Content/demo5.css" />
    <include path="~/Content/custom.css" />
    <include path="~/Content/jquery.jscrollpane.custom.css"/>
  </styleBundle>
</bundles>