<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->

  <system.web>
    <!--<trust level="Full"/>-->
    <httpRuntime requestValidationMode="2.0"/>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <pages validateRequest="false" controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Optimization"/>
        <add namespace="Microsoft.AspNet.Identity"/>
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt"/>
      </controls>
    </pages>
    <customErrors mode="Off"/>
  </system.web>
  <appSettings>
    <add key="ConnectionString" value="Data Source=LAPTOP-PN96LT13;Initial Catalog=PRENOTAZIONI;Integrated Security=True;"/>
    <!--  <add key="ConnectionString" value="Data Source=62.149.153.50;Initial Catalog=MSSql132111;User ID=MSSql132111;Password=2r5577p44j"/>-->
    <!--<add key="ConnectionString" value="Data Source=.\SQLEXPRESS;Initial Catalog=PRENOTAZIONI;Integrated Security=True;" />-->
  <add key="MailTo" value="villacorano@tiscali.it" />
    <add key="Pwd" value="argosio" />
    <add key="Host" value="smtp.villacorano.it" />
    <add key="Iban" value="IT56J 08851 72330 0000 0000 0658" />
  </appSettings>
  <!--<connectionStrings>
    <add name="PRENOTAZIONIEntities" connectionString="metadata=res://*/prenotazione.csdl|res://*/prenotazione.ssdl|res://*/prenotazione.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC24327\SQLEXPRESS;initial catalog=PRENOTAZIONI;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>-->
  <connectionStrings>
    <add name="PRENOTAZIONIEntities" connectionString="metadata=res://*/MSSql132111.csdl|res://*/MSSql132111.ssdl|res://*/MSSql132111.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=62.149.153.50;initial catalog=MSSql132111;User ID=MSSql132111;Password=2r5577p44j;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
      <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
      <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>